<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Opc.Ua.*]*</Include>
          <Exclude>[Opc.Ua.*.Tests]*,[Opc.Ua.*.Fuzz]*,[Opc.Ua.Test.Common]*</Exclude>
          <!-- Generated protocol encode/decode methods are part of the parity surface. -->
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <SkipAutoProps>false</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
