# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: 
  autoCancel: true
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

stages:
- stage: build
  displayName: 'Build .Net Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .Net Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-18.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
- stage: testrelease
  dependsOn: []
  displayName: 'Test Core and SDK Release'
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      agents: '@{ windows = "windows-2019"; mac = "macOS-10.15" }'
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      framework: 'netcoreapp3.1'
      poolImage: 'ubuntu-18.04'
      jobnamesuffix: 'netcore31'
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      framework: 'netcoreapp2.1'
      poolImage: 'ubuntu-18.04'
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: testdebug
  dependsOn: []
  displayName: 'Test Core and SDK Debug'
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Debug
