# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr:
  autoCancel: true
  branches:
    include:
    - '*'

stages:
- stage: build
  displayName: 'Build .Net Core Samples and Solutions'
  jobs:
  - template: .azurepipelines/ci.yml
  - template: .azurepipelines/sln.yml
- stage: test
  dependsOn:
  - build
  displayName: 'Test Core and SDK'
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      agents: '@{ windows = "vs2017-win2016" mac = "macOS-10.15" }'
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Debug
#      agents: '{ windows = "vs2017-win2016" linux = "ubuntu-18.04" }'
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      agents: '@{ linux = "ubuntu-18.04" }'
