# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

stages:
- stage: build
  displayName: 'Build and Test Code'
  jobs:
  - template: .azurepipelines/ci.yml

- stage: solutions
  displayName: 'Build Solutions'
#  dependsOn: build
  jobs:
  - template: .azurepipelines/sln.yml