<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="Local" value="./LocalPackages" />-->
    <!--<add key="nugetv3" value="https://api.nuget.org/v3/index.json" />-->
    <add key="preview" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
  </packageSources>
</configuration>
