# Editorconfig for applications

root = false

# Diagnostic settings specific to libraries
[*.cs]

# RCS1090: Add call to 'ConfigureAwait' (or vice versa)
dotnet_diagnostic.RCS1090.severity = warning

