@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-10">
        <br />
        <br />
        <h2>@ViewData["Title"]</h2>
        <br />
        <br />
    </div>
</div>

<p>This Azure-hosted ASP.Net web-application demonstrates how an OPC UA server in the factory can send OPC Node data to the cloud.</p>
