
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-10">
        <br />
        <br />
        <h2>@ViewData["Title"]</h2>
        <br />
        <br />
    </div>
</div>

<address>
    <strong>OPC Foundation</strong><br />
    16101 N. 82nd Street, Suite 3B<br />
    Scottsdale, AZ 85260-1868 USA<br />
    <a href="http://www.opcfoundation.org">www.opcfoundation.org</a><br />
</address>

<address>
    <strong>Microsoft Corporation</strong><br />
    One Microsoft Way<br />
    Redmond, WA 98052-6399 USA<br />
    <a href="http://www.microsoft.com">www.microsoft.com</a><br />
</address>