<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Quickstarts.ReferenceClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
	</configSections>
	<system.serviceModel>
		<!--
      Uncommenting this <diagnostics> block will turn on message logging. The contents and the location of the
      log file are specified in the  <system.diagnostics> block.
    -->
		<!--
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    -->
	</system.serviceModel>
	<!--
  <system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="Quickstarts.ReferenceClient.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </sharedListeners> 
  </system.diagnostics>
  -->
	<Quickstarts.ReferenceClient>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>Quickstarts.ReferenceClient.Config.xml</FilePath>
		</ConfigurationLocation>
	</Quickstarts.ReferenceClient>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
