<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Quickstarts.ReferenceClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <system.serviceModel>

    <!--
      Uncommenting this <diagnostics> block will turn on message logging. The contents and the location of the
      log file are specified in the  <system.diagnostics> block.
    -->

    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    -->

  </system.serviceModel>

  <!--
  <system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="Quickstarts.ReferenceClient.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </sharedListeners> 
  </system.diagnostics>
  -->

  <Quickstarts.ReferenceClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>Quickstarts.ReferenceClient.Config.xml</FilePath>
    </ConfigurationLocation>
  </Quickstarts.ReferenceClient>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
