name: Build and Test .NET 8.0

on:
  push:
  pull_request:
    branches: [ master, main ]
    paths:
    - '**.cs'
    - '**.csproj'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: test-${{matrix.os}}-${{matrix.csproj}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false    
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]    
        csproj: [Security.Certificates, Core, Server, Client, Client.ComplexTypes, PubSub, Configuration, Gds]
        include:
          - framework: 'net8.0'
            dotnet-version: '8.0.x'
            configuration: 'Release'
            customtesttarget: net8.0
           
    env:
      OS: ${{ matrix.os }}
      DOTNET_VERSION: ${{ matrix.dotnet-version }}
      CONFIGURATION:  ${{ matrix.configuration }}
      CSPROJ: ${{ matrix.csproj }}
      CSPROJECT: "./Tests/Opc.Ua.${{ matrix.csproj }}.Tests/Opc.Ua.${{ matrix.csproj }}.Tests.csproj"
      TESTRESULTS: "TestResults-${{matrix.csproj}}-${{matrix.os}}-${{matrix.framework}}-${{matrix.configuration}}"
      
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Set Cloud Version
      shell: pwsh
      run: ./.azurepipelines/set-version.ps1

    - name: Build
      run: dotnet build ${{ env.CSPROJECT }} --force --framework ${{ matrix.framework }} --configuration ${{ matrix.configuration }} /p:CustomTestTarget=${{ matrix.customtesttarget }}
      
    - name: Test
      # note: /p:CollectCoverage=true is only used to disable deterministic builds
      run: dotnet test ${{ env.CSPROJECT }} --no-build --framework ${{ matrix.framework }} --logger trx --configuration ${{ matrix.configuration }} /p:CollectCoverage=true /p:CustomTestTarget=${{ matrix.customtesttarget }} --collect:"XPlat Code Coverage" --settings ./Tests/coverlet.runsettings.xml --results-directory ${{ env.TESTRESULTS }} 

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-results-${{matrix.csproj}}-${{matrix.os}}-${{matrix.framework}}-${{matrix.configuration}}
        path: ${{ env.TESTRESULTS }}
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

    - name: Upload to Codecov
      uses: codecov/codecov-action@v4
      with:
        name: codecov-umbrella
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: ${{ env.TESTRESULTS }}
        env_vars: CSPROJ,OS,DOTNET_VERSION,CONFIGURATION
        fail_ci_if_error: false
        #path_to_write_report: "./coverage/codecov_report-${{matrix.os}}-${{matrix.framework}}-${{matrix.configuration}}/"
        verbose: true      
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
