name: Docker Reference Server CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IS_NOT_PR: ${{ !github.head_ref && true }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Set up .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.x'
        
    - name: Set Version
      shell: pwsh
      run: ./.azurepipelines/set-version.ps1
        
    - name: Prepare Tag Repo Info
      run: |
        echo IMAGE_REPOSITORY=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]' | awk '{gsub(/-|\./, "")}1') >> $GITHUB_ENV

    - name: Prepare Tag Branch info
      if: env.NBGV_PublicRelease == 'False'
      run: |
        echo IMAGE_TAG=-$(echo ${{ github.ref }} | tr '[:upper:]' '[:lower:]' |  awk '{sub(/([^\/]*\/){2}/,""); gsub(/\/|_/, "-")}1') >> $GITHUB_ENV

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      if: env.IS_NOT_PR == 'true'
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
         
    - name: Build the Docker image
      run: | 
        cd Applications/ConsoleReferenceServer
        ./dockerbuild.sh
        docker image ls
        docker image tag consolerefserver:latest ghcr.io/${{ env.IMAGE_REPOSITORY }}/refserver:${{ env.NBGV_Version }}${{ env.NBGV_PrereleaseVersion }}${{ env.IMAGE_TAG }}
        docker image tag consolerefserver:latest ghcr.io/${{ env.IMAGE_REPOSITORY }}/refserver:latest${{ env.IMAGE_TAG }}
        
    - name: Push to GitHub Container Registry
      if: env.IS_NOT_PR == 'true'
      run: | 
        docker image push ghcr.io/${{ env.IMAGE_REPOSITORY }}/refserver:${{ env.NBGV_Version }}${{ env.NBGV_PrereleaseVersion }}${{ env.IMAGE_TAG }}
        docker image push ghcr.io/${{ env.IMAGE_REPOSITORY }}/refserver:latest${{ env.IMAGE_TAG }}
        docker images ghcr.io/${{ env.IMAGE_REPOSITORY }}/refserver

